body {
	font-family: Helvetica, Sans-Serif;
	overflow: auto;
}
iframe {
	min-width: 350px;
	min-height: 350px;
	border: 1px solid #FF9966;
	overflow: auto;
	margin: 10px;
	padding: 10px;
}
.ad-space {
	width: 250;
	height: 100;
	border: 1px solid blue;
	overflow: auto;
	margin: 10px;
	padding: 10px;
}